<link rel="stylesheet" href="/css/doctorDetail/doctorDetail.css" />

  <section class="container">
    <div id="content" class="grid">
      <div class="profile">
        {{> doctorDetailHeader}}

        <div class="tabs">
          <button id="about-tab" class="tab"></button>
        </div>

        <div id="tab-content" class="tab-content">
          {{> doctorDetailContent}}
        </div>
      </div>
    </div>
  </section>


<script src="/js/doctorDetail/doctorDetail.js"></script>