<link rel="stylesheet" href="/css/doctorProfile/doctorProfile.css" />

<section class="mt-13">
  <div class="container">
    <div id="content" class="grid">
      <div class="tabs-btns">
        <button class="group-1" data-target="profile">Perfil</button>
        <button class="group-1" data-target="edit-profile">Editar</button>
        <button class="group-1" data-target="appointments">Citas</button>
      </div>

      {{> doctorProfileInfo}}

      <div id="appointments" class="tab-content" style="display: none;">
        <div class="card-body">
          <div class="card"></div>
        </div>
      </div>

      <div id="edit-profile" class="tab-content" style="display: none;">
        {{> editDoctor}}
      </div>
    </div>

    <div class="btn-out">
      <button class="group-2 logout-button" data-target="cerrar">Cerrar sesión</button>
      <button class="group-2 delete-button" data-target="eliminar">Eliminar Cuenta</button>
    </div>
  </div>
</section>

<script src="/js/doctorProfile/doctorProfile.js"></script>