<link rel="stylesheet" href="/css/home/home.css">

<div class="faq-heading">
    <h2>Preguntas frecuentes de nuestro usuarios.</h2>
</div>
<section class="body-accordion">
    <div class="accordion">
        <div class="image-box">
            <img src="/assets/img/favicon.png" alt="">
        </div>
        <div class="accordion-text mt-8">
            <ul class="faq-text" id="faq-list"></ul>
        </div>
    </div>
</section>

<script src="/js/home/home.js"></script>