<link rel="stylesheet" href="/css/nursesDetail/nursesDetail.css">

<section class="wrapper">
  <div class="container">
    <div id="content" class="grid">
      <div class="profile">
        {{> nursesDetailHeader}}

        <div class="tabs">
          <button id="about-tab" class="tab"></button>
        </div>

        {{> nursesDetailContent}}
      </div>
    </div>
  </div>
</section>