<link rel="stylesheet" href="/css/userProfile/userProfile.css">

<section class="section-main">
    <div class="tabs-btns"></div>
    {{> userProfileInfo}}
    <div class="profile-content " id="citas"></div>
    <div class="profile-content" id="editar">
        {{> editUser}}
    </div>
</section>

<div class="btn-out">
    <button class="group-2 logout-button" data-target="cerrar">Cerrar sesión</button>
    <button class="group-2 delete-button" data-target="eliminar">Eliminar Cuenta</button>
</div>

<script src="/js/userProfile/userProfile.js"></script>