<div class="create-rent-wrapper">
    <button class="create-btn">¿ Quieres alquilar un consultorio medico ?</button>
</div>

<div class="modal" id="createRentModal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <h2>Crear una nueva renta</h2>
        <form id="createRentForm" enctype="multipart/form-data">
            <label for="title">Título</label>
            <input type="text" id="title" name="title" required />

            <label for="description">Descripción</label>
            <textarea id="description" name="description" required></textarea>

            <label for="price">Precio</label>
            <input type="number" id="price" name="price" required />

            <label for="dimension">Dimensiones</label>
            <input type="text" id="dimension" name="dimension" required />

            <label for="owner">Propietario</label>
            <input type="text" id="owner" name="owner" required />

            <label for="owner_phone">Teléfono del propietario</label>
            <input type="text" id="owner_phone" name="owner_phone" required />

            <label for="owner_email">Correo del propietario</label>
            <input type="email" id="owner_email" name="owner_email" required />

            <label for="address">Dirección</label>
            <input type="text" id="address" name="address" required />

            <label for="category">Categoría</label>
            <input type="text" id="category" name="category" required />

            <label class="label">
                Venta o alquiler?:
                <select name="sell_rent" class="select-field">
                    <option value="venta">Venta</option>
                    <option value="alquiler">Alquiler</option>
                </select>
            </label>

            <label for="mainImg">Imagen principal</label>
            <input type="file" id="mainImg" name="mainImg" required />

            <label for="photos">Fotos adicionales</label>
            <div id="photo-inputs">
                <input type="file" name="photos" accept="image/*" class="gallery-input" />
            </div>
            <button type="button" id="add-image" class="add-image-btn">
                <i class="fas fa-plus"></i>
                Agregar otra imagen
            </button>

            <button type="submit">Crear Renta</button>
        </form>
    </div>
</div>

<script src="/js/createRent/createRent.js"></script>