<div class="doctors-heading">
    <h1>Nuestro Equipo de doctores</h1>
</div>

<section class="body-search">
    <div class="search-container">
        <form id="search-form" action="/buscar-doctor" method="get">
            <label for="search-query" class="visually-hidden"></label>
            <input id="search-query" class="in" type="search" name="query" placeholder="Buscar Doctor"
                aria-label="Buscar Doctor">
            <button class="search-btn" type="submit" aria-label="Buscar">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>
</section>