<div id="profile" class="profile tab-content">
    <div class="profile-header">
        <figure class="profile-image">
            <img src="" alt="doctor imagen" id="doctor-photo" class="image" />
        </figure>
        <div class="profile-info" style="display: none;">
            <span id="specialization" class="specialization"></span>
            <h3 id="doctor-name" class="doctor-name"></h3>
            <p id="bio" class="bio"></p>
        </div>
    </div>
    <div class="tabs">
        <button id="about-tab" class="tab"></button>
    </div>
    <div id="tab-content" class="tab-content">
        <div class="info-container in">
            <div class="info-section">
                <h3 class="info-title">Acerca De
                    <span class="info-name"></span>
                </h3>
                <p class="info-about about"></p>
            </div>
            <div class="container-cards">
                <div class="education-section">
                    <h3 class="section-title">Educación</h3>
                    <ul class="education-list"></ul>
                </div>
                <div class="experience-section">
                    <h3 class="section-title">Experiencia</h3>
                    <ul class="experience-list"></ul>
                </div>
            </div>
        </div>
    </div>
</div>