<link rel="stylesheet" href="/css/footer/footer.css" />

<footer>
  <div class="container-f">
    <div class="aboutus">
      <h2>Redes Sociales</h2>
      <ul class="sci">
        <li>
          <a href="https://www.instagram.com/healthpointmzl" title="Ir a instagram" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="https://x.com/HealthPointMZL" title="Ir a X">
            <i class="fa-brands fa-x-twitter" target="_blank"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/healthpoint-manizales-b039b0343/" title="Ir a linkedin" target="_blank">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="quicklinks">
      <h2>Accesos Directos</h2>
      <ul>
        <li><a href="/faq" title="FAQ">FAQ</a></li>
        <li><a href="/servicios" title="Servicios">Servicios</a></li>
        <li><a href="/contacto" title="Contáctanos">Contáctanos</a></li>
      </ul>
    </div>
    <div class="appointment">
      <h2>Nuestros servicios</h2>
      <ul>
        <li><a href="/doctores" title="Doctores">Doctores</a></li>
        <li><a href="/enfermeras" title="Enfermeras">Enfermeras</a></li>
        <li><a href="/rentas" title="Consultorios médicos">Consultorios médicos</a></li>
      </ul>
    </div>
    <div class="contact">
      <h2>Contáctanos</h2>
      <ul class="info">
        <li>
          <span><i class="fa-solid fa-phone"></i></span>
          <p><a href="tel:+573155417708" title="Teléfono">+57 315 541 7708</a></p>
        </li>
        <li>
          <span><i class="fa-solid fa-envelope"></i></span>
          <p>
            <a href="mailto:medicobooking21@gmail.com" title="Correo electrónico">
              medicobooking21@gmail.com
            </a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</footer>
<div class="copyrighttext">
  <p> <span>CopyRight &copy; 2024</span> HealthPoint Manizales. Todos los derechos reservados</p>
  <div class="mt-1">
    <a href="/assets/data/Terminos_y_condiciones.pdf" target="_blank" class="terms">Terminos y condiciones</a>
  </div>
</div>