<link rel="stylesheet" href="/css/home/home.css">

<div class="our-service">
    <div class="service-heading">
        <h2>Los servicios que ofrecemos</h2>
    </div>
    <div class="main-services" id="main-services"></div>
</div>

<script src="/js/services/services.js"></script>